@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
    color: #C08B93;
}

.secondary-color {
    color: #c99ba0;
}

.tertiary-color {
    color: #e7d5d9;
}

.quaternary-color {
    color:#f4edf0;
}

.bg-navbar {
    background-color: #f4edf0;

}

.bg-body {
  background: #e7d5d941;

}

.bg-card {
  background: #f1e5ea98;
  border: solid #e7d5d9 ;
  border-radius: 10px;
}

.bg-marca {
  background: #e7d5d957;
}

.focus-img:focus {
  border:2px;
  border-color: chartreuse;
}
.focus2-img:active {
  border:2px blue;
}

.add-to-cart:hover {
  width: 30px;
  height: 30px;
  background-color: #ffff;
}

.border-p-color {
  border: solid 1px #C08B93;
}
.border-s-color {
  border: solid 1px #c99ba0;
}
.border-t-color {
  border: solid 1px #e7d5d9;
}
.border-q-color {
  border: solid 1px #f4edf0;
}

.border-t-color:focus {
  border: solid 2px #e7d5d9;
}

.border-fotter {
  border-top: 2px solid  #c99ba0de;
  border-left: 2px solid  #c99ba0e3;
  border-right: 2px solid  #c99ba0da;
  
  /* background: linear-gradient(180deg, rgba(201,155,160,0.8687850140056023) 0%, rgba(231,213,217,1) 1%, rgba(244,237,240,1) 4%, rgba(245,240,242,0.804359243697479) 7%, rgba(245,240,242,0.804359243697479) 94%, rgba(244,237,240,1) 96%, rgba(231,213,217,1) 99%, rgba(201,155,160,1) 100%); */
}

.border-g {
  border-bottom: 3px solid #c99ba0c2
}

.bg-p-color {
  background-color:  #C08B93;
}
.bg-s-color {
  background-color:  #c99ba0;
}
.bg-t-color {
  background-color:  #e7d5d9;
}
.bg-q-color {
  background-color:  #f4edf0;
}

.place-holder-color::placeholder {
  color: #c99ba0a2;
}

.btn-contact:hover{
  font:bold;
  color: #ffff;
  background-color: #c08b93c5;
}

.btn-eliminar:hover {
  font:bold;
  color: #ffffff;
  background-color: #C08B93;
}

.btn-editar:hover {
  border: solid 1px #C08B93 ;
  font:bold;
  color: #C08B93;
  background-color: #f4edf0;
}

.navHeight {
  height: 72px;
}
/* lista desplegable */

.dropdown {
    display: inline-block;
    position: relative;
  }
  @media screen and (min-width: 640px) {
  .dropdown-content {
    
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #dacbd06c ;
    box-shadow: 0px 10px 10px 0px #70676b ;
    border-radius: 6px;
  }
 
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
  .dropdown-content a {
    display: block;
    color: #b67c85;
    font-size:medium;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #ffffff;
    font:bolder;
    font-size:large ;
    background-color: #C08B93;
  }
@media screen and (max-width: 639px) {
  .category-show {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
}


  .border-detail {
    border-color: linear-gradient(180deg, rgba(192,139,147,1) 0%, rgba(201,155,160,1) 30%, rgba(231,213,217,1) 96%);  ;
  }

.nav-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 66px;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: smaller;
  align-items: normal;
  background: #f4edf0;
  border: 1px solid;
  width: 50%;
  height: auto;
  z-index: 50;
  padding-left: 8px;
  border-radius: 8px;
}


